{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2 class="text-center mb-4">
        🏦 SmartBank Pro Admin Dashboard
    </h2>

    <div class="row g-4">

        <div class="col-md-4">
            <div class="card shadow text-center">
                <div class="card-body">
                    <h5>Total Customers</h5>
                    <h2>{{ total_customers }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow text-center">
                <div class="card-body">
                    <h5>Total Balance</h5>
                    <h2>₹ {{ total_balance }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow text-center">
                <div class="card-body">
                    <h5>Total Deposits</h5>
                    <h2>₹ {{ total_deposit }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow text-center">
                <div class="card-body">
                    <h5>Total Withdrawals</h5>
                    <h2>₹ {{ total_withdraw }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow text-center">
                <div class="card-body">
                    <h5>Total Transfers</h5>
                    <h2>₹ {{ total_transfer }}</h2>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}